* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgrey;
}

/* Header/logo Title */
.header {
  padding: 0.125rem;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 2.5rem;
}

.padding_top {
  padding-top: 2.188rem;
}

.grid-container_total {
  grid-template-columns: repeat(7, 9.375rem);
  justify-content: center;
  row-gap: .5rem;
  column-gap: 1rem;
}

.grid-container_avg {
  padding-top: 4.063rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6.25rem;
}

.grid-container_total>div, .grid-container_avg>div {
  background-color: #ffffff;
  text-align: center;
  padding: 0.313rem;
  border: 0.063rem solid #000;
}

#grid_format {
  width: 100%;
  display: grid;
  background-color: lightgrey;
}

#grid_monthly {
  width: 100%;
  display: grid;
  background-color: lightgrey;
  font-weight: bold;
}

#grid_format_projection {
  width: 80%;
  display: grid;
  background-color: lightgrey;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 0.125rem solid #000000;
  border-collapse: collapse;
  table-layout: center;
  text-align: center;
  background-color: #ffffff;
}

table.table_avg {
  width: 40.625rem;
}

th {
  background: #70f59c;
}

th.heading {
  background: #add8e6;
  opacity: 0.8;
}

th, td {
  padding: 0.2rem;
  border: 0.125rem solid #000000;
}