* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgrey;
}

/* Header/logo Title */
.header {
  padding: 2px;
  text-align: center;
  background: black;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.grid-container_total {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fill, 22px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.grid-container_avg {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: .9em;
  grid-column-gap: 1em;
}

.grid-container_total>div, .grid-container_avg>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid #000;
}

#grid_format {
  width: 100%;
  display: grid;
  background-color: lightgrey;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-collapse: collapse;
  table-layout: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

table.table_totals {
  width: 500px;
}

table.table_avg {
  width: 650px;
}

th {
  background: palegoldenrod;
}

th, td {
  padding: 0.2rem;
  border: 2px solid black;
}