* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #D3D3D3;
}

/* Header/logo Title */
.header {
    padding: 2px;
    text-align: center;
    background: #000000;
    color: #ffffff;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  column-gap: 150px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

 .item1 {
  grid-area: 1 / 1;
}

.item2 {
  padding-left: 15px
}

.dropmenus {
    width: 120px;
    height: 25px;
}

#textboxid {
    height: 25px;
    text-align: center;
    border: 0px none;
    width: 150px;
}

#transaction_button {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 150px;
    margin-bottom: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
  }

  th {
    background: rgba(112, 245, 156, 0.8);
  }
  
  th.heading {
    background: rgba(84, 144, 235, 0.315);
  }
  
  th, td {
    padding: 0.2rem;
    border: 2px solid black;
  }