* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgrey;
}

.grid-container {
  display: grid;
  gap: 3.25rem 6.875rem;
  padding-top: 2.188rem;
  text-align: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  background-color: lightgrey;
}

/* For Projections Page Buton */
.item1 {
  padding-top: 3.5rem;
}

/* For Credit Card Payments Buton */
.cc_pay {
  grid-area: 1 / 4;
  padding-top: 3.5rem;
}

#textboxid
{
  height:2.188rem;
  text-align: center;
  border: 0rem none;
  width: 9.375rem;
}

#transaction_button
{
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  height: 3.25rem; 
  width:9.375rem;
  margin-bottom: 1.25rem;
}