* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #d3d3d3;
}

/* Header/logo Title */
.header {
  padding: 0.125rem;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
}

.form-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0rem 2.1875rem;
  padding-top: 2.188rem;
  justify-content: center;
  text-align: center;
}

.item_form1 {
  grid-area: 1 / 1;
}

.item_form2 {
  grid-area: 1 / 2;
}

.item_form3 {
  grid-area: 2 / 1;
  padding-top: 2.813rem;
}

.item_form4 {
  grid-area: 2 / 2;
  padding-top: 6.187rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0rem 4.375rem;
  padding-top: 3.125rem;
  justify-content: center;
  text-align: center;
}

.dropmenus {
  width: 7.5rem;
  height: 1.563rem;
}

#textboxid {
  height: 2.188rem;
  text-align: center;
  border: 0rem none;
  width: 9.375rem;
}

#transaction_button {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  height: 3.25rem;
  width: 9.375rem;
  margin-bottom: 1.25rem;
}

table {
  border: 0.125rem solid #000000;
  border-collapse: collapse;
  table-layout: center;
  text-align: center;
  background-color: #ffffff;
  width: 45rem;
}

table.cc_dat {
  width: 27rem;
}

th.top {
  background: #eee8aa;
  padding: 1.2rem;
}

th {
  background: #9bf6ba;
}

th.heading {
  background: #a4c8fd;
}

th, td {
  border: 0.125rem solid #000000;
  padding: 0.625rem;
}